
/* Start Header Page */

#carouselExampleCaptions {
  ol.carousel-indicators {
    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      opacity: 1;
      background-color: $main-color;
      &.active {
        background-color: $sub-color;
      }
    }
  }
  .carousel-inner {
    .carousel-item {
      height: 90vh;
      @media (max-width: 768px) {
        height: 70vh;
      }
      img.d-block.w-100 {
        height: 100%;
      }
      .carousel-caption {
        bottom: 140px;
        @media (max-width: 768px) {
          bottom: 100px;
        }
        h2 {
          width: 500px;
          @extend  %uppercase;
          font-size: 48px;
          background-color: $dark-color;
          color: $other-color;
          margin: 10px auto;
          animation: fadeInUpSD 2s .5s ease 1;
          @media (max-width: 768px) {
            width: 220px;
            font-size: 20px;
          }
          &.tow {
            background-color: $other-color;
            color: $dark-color;
            @media (max-width: 768px) {
              width: 220px;
              font-size: 20px;
            }
          }
          &.one {
            background-color: transparent;
            color: $dark-color;
            font-weight: bold;
            @media (max-width: 768px) {
              width: auto;
              font-size: 20px;
            }
          }
          &.third {
            background-color: transparent;
            // color: $other-color;
            color: #000;
            @media (max-width: 768px) {
              width: 220px;
              font-size: 20px;
            }
          }
          &.wid {
            width: 300px;
            @media (max-width: 768px) {
              width: 170px;
              font-size: 24px;
            }
          }
        }
        p {
          font-size: 30px;
          color: #000;
          font-weight: bold;
          animation: fadeInUpSD 2s .5s ease 1;
          @media (max-width: 768px) {
            font-size: 18px;
          }
        }
        .btnn {
          button {
            @extend  %uppercase;
            width: 170px;
            height: 60px;
            margin: 0px 20px;
            background-color: $main-color;
            color: $other-color;
            border: 1px solid $main-color;
            border-radius: 5px;
            // font-weight: bold;
            font-size: 18px;
            @extend %transition;
            animation: fadeInUpSD 2s .5s ease 1;
            &:hover {
              background-color: $other-color;
              color: $main-color;
            }
            @media (max-width: 768px) {
              margin-bottom: 15px;
              width: 140px;
              height: 40px;
              font-size: 16px;
            }
            &.orange {
              background-color: $sub-color;
              color: $other-color;
              border: 1px solid $sub-color;
              &:hover {
                background-color: $other-color;
                color: $sub-color;
              }
            }
          }
        }
      }
    }
  }
  a.carousel-control-prev {
    span.carousel-control-prev-icon {
      width: 30px;
      height: 80px;
      background-color: $main-color;
    }
  }
  a.carousel-control-next {
    span.carousel-control-next-icon {
      width: 25px;
      height: 70px;
      background-color: $main-color;
    }
  }
}

/* End Header Page */