
// Start Footer

footer
  .container
    .row
      .col-lg-4(class="wow bounceIn" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="300")
        img.sevnty(src="imges/white.png", alt="")
        p Washington Natural Gas Heating & Air Conditioning 2208
        p 158th St SE
        p.marg-bt Mill Creek WA 98012
        .phon
          i.fas.fa-phone-volume 
          span  (425) 355-3331
        .phon
          i.fas.fa-phone-volume 
          span  (425) 355-3331
        .phon
          i.fas.fa-phone-volume 
          span  (425) 355-3331
        .phon
          i.fas.fa-phone-volume 
          span  (425) 355-3331
        .clearfix
        p.marg-tp  Business License WASHING913LD
      .col-lg-8
        .row
          .col-md-6(class="wow bounceIn" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="300")
            h2 Financing Available
            img(src="imges/credit-cards.png", alt="")
          .col-md-6(class="wow bounceIn" data-wow-duration="1s" data-wow-delay="1.5s" data-wow-offset="200")
            h2 Affiliations
            img(src="imges/Optimized-Aff1.png", alt="")

.footer
  p WashingtonNaturalGas &copy; All Rights Reserved.2021


// End Footer
