// Start Header

#carouselExampleCaptions.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
    li(data-target='#carouselExampleCaptions' data-slide-to='1')
    li(data-target='#carouselExampleCaptions' data-slide-to='2')
  .carousel-inner
    .carousel-item.active
      img.d-block.w-100(src='imges/slide1.jpg' alt='...')
      .carousel-caption.d-md-block
        h2.wid specials on
        h2.tow hot water heaters 
        p and Tankless Water Heater Installations 
        .btnn
          button.orange learn more
          button our services
    .carousel-item
      img.d-block.w-100(src='imges/slide2.jpg' alt='...')
      .carousel-caption.d-md-block
        h2.one 20% of Ac & Heat
        h2.one pump installation
        p installed before summer
        .btnn
          button.orange learn more
          button our services
    .carousel-item
      img.d-block.w-100(src='imges/slide3.jpg' alt='...')
      .carousel-caption.d-md-block
        h2 Fast Installations 
        h2.tow Same day services 
        h2.third CALL 7 A.M. - 9 P.M.
        .btnn
          button.orange learn more
          button our services
  a.carousel-control-prev(href='#carouselExampleCaptions' role='button' data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#carouselExampleCaptions' role='button' data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next


// End Header