
// Start Navbar

.upper-barr
  .container
    .row
      .col-lg-5
      .col-lg-7
        .row
          .col
            .icon
              i.fab.fa-facebook-f
              i.fab.fa-twitter
              i.fab.fa-google-plus-g
              i.fab.fa-linkedin-in
          .col 
            .num
              i.fas.fa-phone-volume 
              span (425) 355-3331
          .col-lg-5
            .mail
              i.far.fa-envelope
              span info@wanaturalgas.com
    
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    img(src="imges/logo.jpg", alt="")
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='index.html') Home 
        li.nav-item
          a.nav-link(href='about.html') about
        li.nav-item
          a.nav-link(href='heating.html') Heating
        li.nav-item
          a.nav-link(href='#') Cooling
        li.nav-item
          a.nav-link(href='#') Services
        li.nav-item
          a.nav-link(href='residential.html') Residential
        li.nav-item
          a.nav-link(href='financing.html') Financing
        li.nav-item
          a.nav-link(href='contact.html') Contact
        li.nav-item.hidden-li
          .icon
              i.fab.fa-facebook-f
              i.fab.fa-twitter
              i.fab.fa-google-plus-g
              i.fab.fa-linkedin-in
        li.nav-item.hidden-li
          .num
              i.fas.fa-phone-volume 
              span (425) 355-3331
        li.nav-item.hidden-li
          .mail
              i.far.fa-envelope
              span info@wanaturalgas.com


// End Navbar