doctype html
html(lang="en", dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/all.min.css")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/master.css")
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Reem+Kufi&display=swap" rel="stylesheet")
    script(src="JS/html5shiv.min.js")
    script(src="JS/respond.min.js")
    title Contact
  body


    include layout/navs

    // Start Stock Section

    section.stock
      .container-fluid
        .row
          .shutter
            img(src="imges/shutterstock.jpg", alt="")
            button  Contact

    // End Stock Section

    // Start Contact Form

    section.contact-us
      .container-fluid
        .row
          .col-lg-12
            .map
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11675.09165312622!2d-81.23461987200501!3d42.98305702418835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882ef20ea88d9b0b%3A0x28c7d7699a056b95!2z2YTZhtiv2YbYjCDYo9mI2YbYqtin2LHZitmI2Iwg2YPZhtiv2Kc!5e0!3m2!1sar!2seg!4v1608370560476!5m2!1sar!2seg' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
          .col-lg-12
            h2 For Fast & Responsive Service
            p Let us know how to get back to you.
            .all-forms
              .form-main
                label First Name
                .input-groups
                  span
                    i.fas.fa-user
                  input.main-input(name='first_name' placeholder='First Name' type='text')
                  i.fa.fa-check.valid-icon-1.check1
                  i.fas.fa-times.valid-icon-2.check2
                .validation-msg.empty Field can't be empty
              .form-main
                label Last Name
                .input-groups
                  span
                    i.fas.fa-user
                  input.main-input(name='last_name' placeholder='Last Name' type='text')
                  i.fa.fa-check.valid-icon-1.check1
                  i.fas.fa-times.valid-icon-2.check2
                .validation-msg.empty Field can't be empty
            .all-forms
              .form-main
                label Email Address
                .input-groups
                  span
                    i.far.fa-envelope
                  input.main-input(name='first_name' placeholder='Email Address' type='email')
                  i.fa.fa-check.valid-icon-1.check1
                  i.fas.fa-times.valid-icon-2.check2
                .validation-msg.empty Field can't be empty
              .form-main
                label Phone Number
                .input-groups
                  span
                    i.fas.fa-phone-volume
                  input.main-input(name='last_name' placeholder='Phone Number' type='number'  pattern="[0-9]")
                  i.fa.fa-check.valid-icon-1.check1
                  i.fas.fa-times.valid-icon-2.check2
                .validation-msg.empty Field can't be empty
              .form-main
                label Zip Code 
                .input-groups
                  span
                    i.fa.fa-home
                  input.main-input(name='last_name' placeholder='Zip Code' type='number')
                  i.fa.fa-check.valid-icon-1.check1
                  i.fas.fa-times.valid-icon-2.check2
                .validation-msg.empty Field can't be empty
            .textarea
              h2 How can we help?
              p Feel free to E-mail us for Fast & Responsive Service.
              h5 Questions
              textarea.main-input(name="textarea", cols="30", rows="10")
              .validation-msg.empty Field can't be empty
              button send form

    // End Contact Form

    include layout/footers

    #scroll-top.hvr-buzz-out
      i.fa.fa-chevron-up.fa-lg

    .loading
      .sk-circle
        .sk-circle1.sk-child
        .sk-circle2.sk-child
        .sk-circle3.sk-child
        .sk-circle4.sk-child
        .sk-circle5.sk-child
        .sk-circle6.sk-child
        .sk-circle7.sk-child
        .sk-circle8.sk-child
        .sk-circle9.sk-child
        .sk-circle10.sk-child
        .sk-circle11.sk-child
        .sk-circle12.sk-child

    include layout/footerscripts