doctype html
html(lang="en", dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/all.min.css")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/master.css")
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Reem+Kufi&display=swap" rel="stylesheet")
    script(src="JS/html5shiv.min.js")
    script(src="JS/respond.min.js")
    title Financing
  body


    include layout/navs

    // Start Stock Section

    section.stock-Financing
      .container-fluid
        .row
          .shutter
            img(src="imges/maxresdefault.jpg", alt="")
            button financing 

    // End Stock Section

    // Start Residential content

    section.Financing
      .container
        p We have financing options available that will work with almost any budget.  That means you can have the comfort #[br] that you deserve now, at payments that work with your budget.
        .row
          .col-lg-4.offset-lg-4
            .loggo
              img(src="imges/Optimizedcv.png", alt="")


    // End Residential content

    include layout/footers

    #scroll-top.hvr-buzz-out
      i.fa.fa-chevron-up.fa-lg

    .loading
      .sk-circle
        .sk-circle1.sk-child
        .sk-circle2.sk-child
        .sk-circle3.sk-child
        .sk-circle4.sk-child
        .sk-circle5.sk-child
        .sk-circle6.sk-child
        .sk-circle7.sk-child
        .sk-circle8.sk-child
        .sk-circle9.sk-child
        .sk-circle10.sk-child
        .sk-circle11.sk-child
        .sk-circle12.sk-child

    include layout/footerscripts