doctype html
html(lang="en", dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/all.min.css")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/master.css")
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Reem+Kufi&display=swap" rel="stylesheet")
    script(src="JS/html5shiv.min.js")
    script(src="JS/respond.min.js")
    title Washingation
  body


    include layout/navs


    section.big-form
      .main-section
        h4.h3.head-border-blue Air Conditioning installation
        .container
          .row
            .col-xl-12
              .contain-form
                h5 Repairs/maintenance request
                p form for maintenance and repair requests
                h6 Is your heating and air conditioning system operating & maintaining a comfortable temperature?
                .checkbox
                  input(type="checkbox")
                  label Yes
                .checkbox
                  input(type="checkbox")
                  label No
                h6 What is the temperature of your home?
                input(type="text")
                h6 Are you interested in?
                .checkbox
                  input(type="checkbox")
                  label Repair
                .checkbox
                  input(type="checkbox")
                  label Maintenance
                .checkbox
                  input(type="checkbox")
                  label Replacement/New install of equipment
                .checkbox
                  input(type="checkbox")
                  label Other
                h6 Regarding what type of equipment or issue of concern:
                .checkbox
                  input(type="checkbox")
                  label Furnace
                .checkbox
                  input(type="checkbox")
                  label Air Conditioner
                .checkbox
                  input(type="checkbox")
                  label Heat Pump-Ducted
                  .checkbox
                  input(type="checkbox")
                  label Heat Pump-Ductless Mini Split
                .checkbox
                  input(type="checkbox")
                  label Water Heater-Tank
                .checkbox
                  input(type="checkbox")
                  label Water Heater-Tankless
                .checkbox
                  input(type="checkbox")
                  label Electronic Air Cleaner (EAC)
                .checkbox
                  input(type="checkbox")
                  label Gas Fireplace
                .checkbox
                  input(type="checkbox")
                  label Gas Piping
                h6 Approximate age of equipment
                .checkbox
                  input(type="checkbox")
                  label 0-5 years
                .checkbox
                  input(type="checkbox")
                  label 6-10 years
                .checkbox
                  input(type="checkbox")
                  label 11-15 years
                .checkbox
                  input(type="checkbox")
                  label 16-20 years
                form
                  .all-forms
                    .form-main
                      label First Name
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='first_name' placeholder='First Name' type='text')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                    .form-main
                      label Last Name
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='last_name' placeholder='Last Name' type='text')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                  .all-forms
                    .form-main
                      label Email
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='Email' placeholder='Email' type='Email')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                    .form-main
                      label Contact Phone #
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='Contact_Phone' placeholder='Contact Phone' type='text')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                  .all-forms
                    .form-main
                      label Cell Phone
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='Cell_Phone' placeholder='Cell Phone' type='text')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                    .form-main
                      label Street Address
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='Street_Address' placeholder='Street Address' type='text')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                  .all-forms
                    .form-main
                      label Address Line 2
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='Address_Line' placeholder='Address Line ' type='text')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                    .form-main
                      label City
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='City' placeholder='City' type='text')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                  .all-forms
                    .form-main
                      label WA
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='WA' placeholder='WA' type='text')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                    .form-main
                      label ZIP / Postal Code
                      .input-groups
                        span
                          i.fas.fa-user
                        input.main-input(name='last_name' placeholder='Last Name' type='text')
                        i.fa.fa-check.valid-icon-1.check1
                        i.fas.fa-times.valid-icon-2.check2
                      .validation-msg.empty Field can't be empty
                  button.hvr-wobble-horizontal Contact Us 

    include layout/footers

    #scroll-top.hvr-buzz-out
      i.fa.fa-chevron-up.fa-lg

    include layout/footerscripts