doctype html
html(lang="en", dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/all.min.css")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/master.css")
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Reem+Kufi&display=swap" rel="stylesheet")
    script(src="JS/html5shiv.min.js")
    script(src="JS/respond.min.js")
    title Heating
  body


    include layout/navs

    // Start Stock Section

    section.stock-heating
      .container-fluid
        .row
          .shutter
            //- img(src="imges/heating.jpg", alt="")
            button Heating 

    // End Stock Section

    // Start Cards Section

    section.heating-cardds
      .container
        .ggo
          button.forrmm #[a(href="forms.html") read more information]
        .row
          .col-lg-12
            .heating-text
              h2.head-border-blue our heating services from professionals
              p.fir Seattle can have some of the most chilliest winters in the country, but when temperatures do drop, you’ll need to be certain that you have a heating system you can rely on. At #[span.black Washington Natural Gas], we guarantee that you’ll be completely satisfied with the services we provide at every single job. All of our #[span Seattle heating specialists] are licensed and professionally trained, so you’ll always be receiving the best repairs available. When you need any repairs, no matter how small or large, we’ll provide you with the best workmanship you can find. Call us today for an appointment with a professional, experienced heating repair specialist.
        .row
          .col-lg-4.col-md-6(class="wow bounceInLeft" data-wow-duration="2.5s" data-wow-delay=".6s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/furnace-repair.jpg")]
              h4 Furnace Repairs
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more
          .col-lg-4.col-md-6(class="wow bounceInLeft" data-wow-duration="2.5s" data-wow-delay=".4s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/fireplace.jpg")]
              h4  Fireplace Repair
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more
          .col-lg-4.col-md-6(class="wow bounceInLeft" data-wow-duration="2.5s" data-wow-delay=".2s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/air.jpg")]
              h4 Heat Pump Replacements
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more
          .col-lg-4.col-md-6(class="wow bounceInRight" data-wow-duration="2.5s" data-wow-delay=".2s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/install.jpg")]
              h4 Heat Pump System Check
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more
          .col-lg-4.col-md-6(class="wow bounceInRight" data-wow-duration="2.5s" data-wow-delay=".2s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/furnaces-cair.png")]
              h4 Furnace Replacements
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more
          .col-lg-4.col-md-6(class="wow bounceInRight" data-wow-duration="2.5s" data-wow-delay=".2s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/heating-repairs.jpg")]
              h4 Heating Repairs
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more
          .col-lg-4.col-md-6(class="wow bounceInLeft" data-wow-duration="2.5s" data-wow-delay=".6s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/furnacetuneup2.png")]
              h4 Furnace System Checks
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more
          .col-lg-4.col-md-6(class="wow bounceInLeft" data-wow-duration="2.5s" data-wow-delay=".4s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/man-repair.jpg")]
              h4 Heating Replacement
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more
          .col-lg-4.col-md-6(class="wow bounceInLeft" data-wow-duration="2.5s" data-wow-delay=".2s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/grt-a.jpg")]
              h4 Heating System Check
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more
          .col-lg-4.col-md-6.offset-lg-4(class="wow bounceInRight" data-wow-duration="2.5s" data-wow-delay=".2s" data-wow-offset="300")
            .flip-cardd
              span.circle #[img(src="imges/pump-repair.jpg")]
              h4 Heat Pump Repairs
              p For your complete residential heating and air conditioning repairs, let the professionals at Washington Natural Gas take care of you, for all your heating and cooling comfort needs. With our service team members,we will provide you with the best system for your needs at the best value.
              span.normall  read more


    // End Cards Section

    include layout/footers

    #scroll-top.hvr-buzz-out
      i.fa.fa-chevron-up.fa-lg

    .loading
      .sk-circle
        .sk-circle1.sk-child
        .sk-circle2.sk-child
        .sk-circle3.sk-child
        .sk-circle4.sk-child
        .sk-circle5.sk-child
        .sk-circle6.sk-child
        .sk-circle7.sk-child
        .sk-circle8.sk-child
        .sk-circle9.sk-child
        .sk-circle10.sk-child
        .sk-circle11.sk-child
        .sk-circle12.sk-child

    include layout/footerscripts