

$main-color: #34c6f2;
$sub-color: #ff8313;
$other-color: #fff;
$dark-color: #133660;
$blue-color: #0A495C;
$gray-color: #898989;
$second-color: #9f9f9f;
$light-color: #F5F4F4;

$float-right: right;
$float-left: left;




